# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

# build 
*.tar.gz
forecastHybrid.Rcheck*
pkg/vignettes/forecastHybrid_cache/*
pkg/vignettes/forecastHybrid_files/*
extended-tests/m3test.rda
/pkg/R/.dir-locals.el
/pkg/R/temp.R
.gitignore
pkg/..Rcheck/
pkg.Rcheck/
